<div *ngIf="recipe" class="card">
    <header>
        <h2>{{ recipe.name }}</h2>
        <span [style.background]="recipe.color" class="chip">{{ recipe.category }}</span>
    </header>
    <hr>
    <ng-container *ngFor="let ingredient of recipe.ingredients; let i = index;">
        <p> {{i + 1}}. {{ ingredient.designation | titlecase }}</p>
    </ng-container>
</div>

<div *ngIf="!recipe" class="empty">
    <span>Bro !</span>
    <span>What are we eating today ?</span>
    <hr style="width: 80%; margin-top: 4px;"/>
    <img src="/assets/icons/burger-2.svg" alt="Empty placeholder">
</div>              