@import 'variables';

@mixin container {
    width: 80%;
    margin: 0 auto;
}

@mixin border {
    border: 1px solid $lightGrey;
    border-radius: .5rem;
}

@mixin button-primary {
    background-color: $themeColor3;
    &:hover {
        background-color: darken($themeColor3, 5%);
    }
}