@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

/* FONTS */
$font-title: 'Besley', serif;
$font-body: 'Red Hat Text', sans-serif;

/* COLORS */
$matColor1: #042629;
$matColor2: #70b9bc;
$matColor3: #6adbcd;

$white: #fefefe;
$black: #0A0A0A;

$green: green;
$orange: #f7a723;
$red: #d4644a;

$lightGrey: #e9ecef;
$grey: #eeeeee; 