@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

/* FONTS */
$font-title: 'Besley', serif;
$font-body: 'Red Hat Text', sans-serif;

/* COLORS */
$white: #fefefe;
$grey: #eeeeee; 
$black: #0A0A0A;

$bg-color: #f4f5f5;
$base-color: #8b75e6;
$veggie-color: #75beb2;
$side-color: #d85191;
$protein-color: #f65b67;