@import 'utils';
@import 'variables';

.recipe-picker {
    @include shadow;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    background: #f1f1f1;
    border-radius: 5px;
}

.recipe-picker button {
    @include button-primary;
    display: block;
    margin: 1rem auto;
}