@import 'utils';
@import 'breakpoints';

$cardHeight: 300px;

.container {
    @include container;
    margin-top: 80px;
}

app-nav {
    position: fixed;
    top: 0;
    z-index: 1000;
    display: block;
    width: 100%;
    background: #fff;
}

app-recipe-picker {
    display: block;
    min-height: $cardHeight;
    padding: 1rem 0;
    margin: 0 auto;
}

@include smartphone {
    app-recipe-picker {
        width: 100%;
    }
}

@include tablet {
    app-recipe-picker {
        width: 50%;
    }
}

@include desktop {
    app-recipe-picker {
        width: 30%;
    }
}
