@import 'utils';
@import 'breakpoints';

$height: 300px;

.container {
    @include container;
}

app-nav {
    position: fixed;
    z-index: 1000;
    display: block;
    width: 100%;
    background: #fff;
}

app-recipe-picker {
    display: block;
    min-height: $height;
    margin: 0 auto;
}

@include smartphone {
    app-recipe-picker {
        width: 100%;
    }
}

@include tablet {
    app-recipe-picker {
        width: 50%;
    }
}

@include desktop {
    app-recipe-picker {
        width: 30%;
    }
}
