@import 'utils';
@import 'breakpoints';

.app-container {
    @include container;
    margin-top: 80px;
}

app-nav {
    position: fixed;
    top: 0;
    z-index: 1000;
    display: block;
    width: 100%;
    background: #fff;
}