@import 'variables';

#page-ingredients {
    margin-top: 80px;
    background: $white;
    padding: 16px 22px;
    border-radius: 7px;
    header {
        margin-bottom: 1em;
        h2 { 
            text-align: center;
            font-size: 22px;
        }
    }
    .main-content {
        table {
            width: 100%;
            font-size: 18px;
            line-height: 24px;
            text-transform: capitalize;
            vertical-align: text-top;
            td, th {
                text-align: start;
                &.carbohydrates {
                    text-align: end;
                    .up { color: #f7930e }
                    .down { color: #069753 }
                }
            }
        }
    }
}