@import 'variables';
@import 'utils';

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include bottomShadow;
    padding: 16px;
    icon {
        cursor: pointer;
    }
}