@import 'variables';
@import 'utils';

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px;
    icon {
        cursor: pointer;
    }
    border-bottom: 1px solid #e9ecef;
}