@import 'variables';
@import 'mixins';

#home-page {
    margin-top: 80px;
    .home-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
        padding: 8px 16px;
        button {
            flex: 1 0 45%;
            margin-bottom: 5%;
            aspect-ratio: 1;
            color: $white;
            font-size: 18px;
            font-weight: bold;
            border-radius: 7px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
            @include shadow;   
            &.bases { background-color: $base-color }
            &.veggie-bases  { background-color: $veggie-color }
            &.sides { background-color: $side-color }
            &.proteins { background-color: $protein-color }
        }
    }
}