/* IMPORTS */
@import '@angular/cdk/overlay-prebuilt.css';
@import 'variables';


/* GENERAL */
* {
    padding: 0;
    margin: 0;
    font-family: $font-family;
}

html, body { 
    height: 100%; 
}

body { 
    margin: 0;
}


/* RESET */
p {
    margin: 0;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

hr {
    height: 1px;
    background-color: $lightGrey;
    border: none;
}