/* IMPORTS */
@import '@angular/cdk/overlay-prebuilt.css';
@import 'variables';

* {
    box-sizing: border-box;
    font-family: $font-family;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    padding: 8px 24px;
    border-radius: .5rem;
    font-weight: 600;
}

hr {
    border: none;
    height: 1px;
    background-color: $light-grey;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
