/* IMPORTS */
@import '@angular/cdk/overlay-prebuilt.css';
@import 'variables';

* {
    box-sizing: border-box;
    font-family: $font-family;
}

p {
    margin: 0;
}

button {
    cursor: pointer;
    background: none;
    border: 1px solid $light-grey;
    border-radius: .5rem;
    padding: 8px 18px;
}

hr {
    border: none;
    height: 1px;
    background-color: $light-grey;
}
