$font-family: 'Nunito Sans', sans-serif;
$font-brand: 'Patua One', cursive;


/* COLORS */
$themeColor1: #e66100;
$themeColor2: #ffa348;
$themeColor3: #ffc081;

$dark: #3f3844;
$darkBlue:  #212f3c;
$grey: #eeeeee; 
$lightGrey: #e5e7eb;
$white: #fff;