$font-family: 'Nunito Sans', sans-serif;
$font-brand: 'Patua One', cursive;


/* COLORS */
$matColor1: #e66100;
$matColor2: #ffa348;
$matColor3: #ffc081;

$dark: #3f3844;
$darkBlue:  #212f3c;
$grey: #eeeeee; 
$lightGrey: #e5e7eb;
$white: #fff;